.damage_motion {
    animation: damage 0.2s 3;
}
@keyframes damage {
    25% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(-5px, 5px);
    }
}

.kaisin_motion {
    animation: damage 0.1s 3;
}
@keyframes damage {
    25% {
        transform: translate(15px, 15px);
    }
    50% {
        transform: translate(-15px, -15px);
    }
    75% {
        transform: translate(15px, -15px);
    }
    100% {
        transform: translate(-15px, 15px);
    }
}

.mukou_motion {
    animation: damage 0.5s 3;
}
@keyframes damage {
    25% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(-5px, 5px);
    }
}

#monsters {
    height: 255px;
}

img {
    width: 250px;
    height: 250px;
    background-color: rgb(10, 4, 49);
    cursor: pointer;
}

#content {
    text-align: center;
}

#commentbox {
    width: 1000px;
    height: 240px;
    background-color: #eee;
    margin: auto;
    margin-top: 50px;
    border: solid 3px #6089e7;
    border-radius: 10px;
    text-align: left;
}

#comment {
    font-size: 24px;
    margin: 12px 20px;
}

.nodisp{
    display: none;
}

.renda {
user-select: none; /* CSS3 */
-moz-user-select: none; /* Firefox */
-webkit-user-select: none; /* Safari、Chromeなど */
-ms-user-select: none; /* IE10かららしい */
}