.damage_motion {
    animation: damage 0.2s 3;
    pointer-events: none; /* クリック無効を追加 */
}
@keyframes damage {
    25% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(-5px, 5px);
    }
}

.kaisin_motion {
    animation: damage 0.1s 3;
    pointer-events: none; /* クリック無効を追加 */
}
@keyframes damage {
    25% {
        transform: translate(15px, 15px);
    }
    50% {
        transform: translate(-15px, -15px);
    }
    75% {
        transform: translate(15px, -15px);
    }
    100% {
        transform: translate(-15px, 15px);
    }
}

.mukou_motion {
    animation: damage 0.3s 3;
    pointer-events: none; /* クリック無効を追加 */
}
@keyframes damage {
    25% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(-5px, 5px);
    }
}

#monsters {
    height: 255px;
    white-space: nowrap;
    /* display: inline-block; */
}

/* img {
    width: 250px;
    height: 250px;
    background-color: rgb(10, 4, 49);
    cursor: pointer;
} */


.dungeon {
    width: 500px;
    height: 300px;
    background-color: rgb(10, 4, 49);
    cursor: pointer;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

.syouri {
    width: 500px;
    height: 300px;
    background-color: rgb(10, 4, 49);
    cursor: pointer;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

.end {
    width: 500px;
    height: 300px;
    background-color: rgb(10, 4, 49);
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

#content {
    text-align: center;
}

#commentbox {
    width: 1000px;
    height: 240px;
    background-color: #eee;
    margin: auto;
    margin-top: 50px;
    border: solid 3px #6089e7;
    border-radius: 10px;
    text-align: left;
}

.seiton {
    margin: 8px 4px;

    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

#comment {
    font-size: 24px;
    margin: 12px 20px;
}

.nodisp{
    display: none;
}

.renda {
    width: 250px;
    height: 250px;
    background-color: rgb(10, 4, 49);
    cursor: pointer;

    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

.noclick {
    pointer-events: none;
}

.inline {
    background-color: #eee;
    width: 100px;
    align-items: flex-start;
    /* margin-top: 50px; */
    padding-left: 12px;
    border: solid 3px #6089e7;
    border-radius: 10px;
    text-align: left;
    margin: 8px auto 8px 8px;
}